[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"mysql.connector" = "*"
"dataclasses" = "*"
"loguru" = "*"
pytest-loguru = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
tox = "*"
codecov = "*"
pytest-loguru = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.5"
